<div id="preloader"></div>

<!--==========================
  Hero Section
  ============================-->
<section id="hero">
  <div class="hero-container">
    <div class="wow fadeIn">
      <div class="hero-logo">
        <img class="" src="public/img/logohannah.png" alt="The Beute Clinic logo">
      </div>
      {{msg}}
      <h1>{{h1Title}}</h1>
      <h2>We care
        <span class="rotating">about your feet, about your health, about your happiness :)</span>
      </h2>
      <div class="actions">
        <a href="#contact" class="btn-get-started">Book an appointment</a>
        <a href="#services" class="btn-services">Check all Treatments</a>
      </div>
      <div class="row" style="height: 30px;">
        <div class="col-xs-2 col-xs-push-9 hidden-md hidden-xs hidden-sm">
          <span style="color:white!important;">The Beute Clinic is part of</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-1 col-xs-push-9 hidden-md hidden-xs hidden-sm">
          <a target="_blank" href="https://finder.bupa.co.uk/Consultant/view/224805/Miss%20Hannah%20Beute">
            <img src="public/img/bupa.png " style="width:60px;height:60px;" alt="The Beute Clinic is part of BUPA">
          </a>
        </div>
        <div class="col-xs-1 col-xs-push-9 hidden-md hidden-xs hidden-sm">
          <a target="_blank" href=""></a>
          <img src="public/img/hcpc.jpg" style="width:60px;height:60px;" alt="The Beute Clinic is part of the HCPC">
        </div>
      </div>

    </div>
  </div>
</section>